{% extends 'core/base.html' %}
{% block content %}
{% include 'core/search_form_include.html' %}
<table class="table table-success">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Кафедра</th>
    </tr>
    </thead>
    <tbody>
    {% for curator in object_list %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'core:curators_detail' curator.pk %}">{{curator.second_name}}</a></td>
        <td>{{curator.first_name|upper}}</td>
        <td>{{curator.department|lower}}</td>
    </tr>
    {% empty %}
    <h2>Список пуст</h2>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
