{% extends 'core/base.html' %}
{% block content %}
{% include 'core/search_form_include.html' %}
<table class="table table-success">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Курсы</th>
        <th scope="col">Направление</th>
    </tr>
    </thead>
    <tbody>
    {% for student in object_list %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'core:students_detail' student.pk %}">{{student.second_name}}</a></td>
        <td>{{student.first_name}}</td>
        <td>{{student.cource_num}}</td>
        <td>{{student.direction}}</td>
    </tr>
    {% empty %}
    <h2>Список пуст</h2>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'core:students_create' %}" class="btn btn-success"> Добавить запись о студенте</a>
{% endblock %}